<html>
  <head>
    <title>About</title>
    <link href="/img/weather.png" rel="icon" />
    <link rel='stylesheet' href='/css/styles.css' />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src='/img/robot.png' />
    </div>

    {{>footer}}
  </body>
</html>
