<html>
  <head>
    <title>Help</title>
    <link href="/img/weather.png" rel="icon" />
    <link rel='stylesheet' href='/css/styles.css' />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>{{helpText}}</p>
    </div>

    {{>footer}}
  </body>
</html>
